@import "mixins/_adaptive_bp.scss";
@import "mixins/_colors.scss";

/* CONST's */

$main-widthcompress-big: 40px;         // отступы со сторон, если экран больше мобильного
$main-widthcompress-mini: 20px;        // отступы при мобильном экране

$bar-height: 56px;                      // высота элемента 'bar'

$main-block-border-radius: 8px;         // Закругленность основных элементов

$main-accept-form-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
$main-invalid-form-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");

$main-checkbox-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");

/* MAIN.PAGING */

.container {
    @include phones {
        width: calc(100% - #{$main-widthcompress-mini});
    }

    max-width: 1600px;
    width: calc(100% - #{$main-widthcompress-big});
    margin: 0 auto;
}

._cl_application_page {
    margin-top: calc(#{$bar-height} + 1px + 15px);
    display: flex;
    gap: 15px;
}

.page {
    min-width: 650px;
    min-height: 650px;
}

.transfer-anim {
    text-align: center;
    background: white;
    border: 1px solid $main-border-color;
    border-radius: 6px;

    @include phones {
        width: 100%;
    }

    width: 30%;
    padding: 16px;
    margin: 0 auto;

    lottie-player {
        margin: 0 auto;
    }
}

.transfer-text {
    font-family: 'VK Sans Display';
    font-size: 18px;
    color: #797979;
}

/* MAIN.BAR */
.main-bar {
    width: 100%;
    height: $bar-height;
    background: white;
    border-bottom: 1px solid $main-border-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 85;
}

.bar-inner {
    display: flex;
    height: inherit;

    .bar-item {
        display: flex;
        align-items: center;

        &.right {
            margin-left: auto;
        }
    }
}

.logotype32x32-outer {
    width: 32px;
    height: 32px;
}

.logotype-outer {
    margin-right: 10px;
}

.bar-site-naming {
    font-family: 'VK Sans Display';
    color: $-text-minifocus-color;

    @include phones {
        font-size: 14px!important;
    }

    font-size: 24px;
    font-weight: normal;
    font-size: 20px;
}

.bar-site-naming-postfix {
    @include phones {
        display: none !important;
    }

    font-family: 'VK Sans Display';
    color: $-text-demifocus-color;
    font-size: 10px;
    position: relative;
    top: -12px;
    left: 1px;
    letter-spacing: .7px;
}


.bar-icon-item {
    color: #B4BED1;
    font-size: 16px;
    transition: 0.2s;
    margin-left: 19px;

    &:hover {
        color: #a0a9bb;
    }
}

/* INDEX.APPLICATION */

.block {
    background: white;
    border: 1px solid $main-border-color;
    border-radius: $main-block-border-radius;
    transition: max-height .5s ease-out;
    overflow: auto;

    &.p-normal {
        padding: 25px 35px 25px 35px;
    }
}

.mobile-row-column {
    @include laptop {
        flex-direction: column!important;
    }
}

.index-application {
    flex: 4;
    min-width: 0;
}

/* AUTH */

.auth-panel {
    @include phones {
        width: 100% !important;
    }

    margin: 0 auto;
    width: 68%;
    height: 550px;
    overflow: hidden;
    display: flex;

    .custom-control {
        width: 90px;
    }

    .left-block {
        @include tablets {
            display: none;
        }

        background: url(../imgs/application/_bg.png);
        background-size: cover;
        display: flex;
        align-items: center;

        .auth-info-block {
            height: 82%;
            width: 75%;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .auth-info-bar {
                display: flex;
                height: 110px;

                .auth-left-logo {
                    align-items: center;
                    flex: 1;
                    justify-content: center;
                    display: flex;

                    i {
                        background: #ffffff29;
                        border-radius: 5px;
                        padding: 15px;
                        color: white;
                        font-size: 30px;
                    }
                }

                .auth-right-info {
                    flex: 3;
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;
                    justify-content: center;

                    .main-text {
                        color: white;
                        font-family: 'VK Sans Display';
                        font-size: 14px;
                        font-weight: 600;
                        margin-bottom: 3px;
                    }

                    .secondary-text {
                        color: #ffffffbd;
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

.login-wrapper {
    padding: 0px 35px 0px 35px;
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .form-group {
        margin-top: 7.5px;
        margin-bottom: 7.5px;
    }
}



.auth-outer {
    display: flex;
    flex-direction: column;
    height: 550px;
    overflow-y: auto;
}

.auth-name {
    font-family: 'VK Sans Display';
    color: #333;
    margin-top: 55px;
    font-weight: normal;
    font-size: 17px;
    text-align: center;
}

/* FORM.CONTROL */

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5;
    color: $-text-minifocus-color;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid $main-border-color;
    border-radius: .25rem;
    transition: border-color .2s, box-shadow .2s;


    &.is-valid {
        border-color: $-main-color-ok;
        padding-right: calc(1.5em + .75rem);
        background-image: $main-accept-form-bg;
        background-repeat: no-repeat;
        background-position: right calc(.375em + .1875rem) center;
        background-size: calc(.75em + .175rem) calc(.75em + .175rem);

        &:focus {
            border-color: #28a745;
            box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
        }
    }

    &.is-invalid[inputmode="numeric"] {
        background-size: calc(0.75em + 3.375rem) calc(0.75em + 0.375rem);
    }

    &.is-valid[inputmode="numeric"] {
        background-size: calc(0.75em + 3.175rem) calc(0.75em + 0.175rem);
    }

    &.is-invalid {
        border-color: $-main-color-err;
        padding-right: calc(1.5em + .75rem);
        background-image: $main-invalid-form-bg;
        background-repeat: no-repeat;
        background-position: right calc(.375em + .1875rem) center;
        background-size: calc(.75em + .375rem) calc(.75em + .375rem);

        &:focus {
            border-color: #dc3545;
            box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
        }
    }

    &:focus {
        border-color: #f4d095a6;
        box-shadow: 0 0 0 0.2rem #f4d095a6;
    }
}

.validation-message {
    display: none;
}

.invalid-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: $-main-color-err;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;

    .input-left-none {
        border-radius: 0px .25rem .25rem 0px!important;
    }

    .form-control {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
        margin-bottom: 0;
    }

    .input-group-prepend {
        margin-right: -1px;
        display: flex;
    }

    .input-group-text {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: 0rem .75rem 0rem .75rem;
        margin-bottom: 0;
        font-size: .8rem;
        font-weight: 400;
        line-height: 1.5;
        color: $-text-minifocus-color;
        text-align: center;
        white-space: nowrap;
        background-color: #e9ecef;
        border: 1px solid $main-border-color;
        border-radius: .25rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        user-select: none;
    }
}

/* BUTTON */

.btn:not(.dropdown-toggle) {
    transition: background-color .15s ease-out;
}

.btn {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.btn[disabled] {
    opacity: .4;
    cursor: default;
}

$btn-hover-bg-opacity: 4%;

$btn-bg-primary: #DE8651;
$btn-color-primary: white;

$checkbox-bg-maincolor: $btn-bg-primary;

$btn-bg-secondary: #e5ebf1;
$btn-color-secondary: #000000;

$btn-color-tertiary: #DE8651;

$btn-bordercolor-outline: #DE8651;
$btn-color-outline: #E18F5E;

$btn-bordercolor-outline-destruct: #e64646;
$btn-color-outline-destruct: #e64646;

$btn-bg-commerce: #4bb34b;
$btn-color-commerce: white;

$btn-bg-destruct: #e64646;
$btn-color-destruct: white;

$btn-bg-overlay-primary: white;
$btn-color-overlay-primary: #333333;

$btn-bg-overlay-secondary: #4f4f4f;
$btn-color-overlay-secondary: white;

$btn-bordercolor-overlay-outline: white;
$btn-color-overlay-outline: white;

$btn-spin-width: 2px;

.btn:not(.dropdown-toggle) {
    border: 0;
    border-radius: 4px;
    margin: 0;
    outline: 0;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    max-width: 100%;
    user-select: none;
    padding: 1px 16px;

    &.warning {
        color: #ff4444 !important;
    }

    & .btn-loader {
        border: $btn-spin-width solid rgba(0, 0, 0, 0);
    }

    &:active:not([disabled]) {
        opacity: .8;
        //margin-top: 1px;
        transform: translateY(1px);
    }
    /* STYLES */
    /* colors and types */

    &.primary {
        background: $btn-bg-primary;
        color: $btn-color-primary;

        &:hover:not([disabled]) {
            background: darken($btn-bg-primary, $btn-hover-bg-opacity) !important;
        }

        & .btn-loader {
            border-top: $btn-spin-width solid $btn-color-primary;
            border-left: $btn-spin-width solid $btn-color-primary;
            border-right: $btn-spin-width solid $btn-color-primary;
        }
    }

    &.secondary {
        background: $btn-bg-secondary;
        color: $btn-color-secondary;

        &:hover:not([disabled]) {
            background: darken($btn-bg-secondary, $btn-hover-bg-opacity) !important;
        }

        & .btn-loader {
            border-top: $btn-spin-width solid $btn-color-secondary;
            border-left: $btn-spin-width solid $btn-color-secondary;
            border-right: $btn-spin-width solid $btn-color-secondary;
        }
    }

    &.tertiary {
        background: transparent;
        color: $btn-color-tertiary;

        &:hover:not([disabled]) {
            background: rgba($btn-bg-primary, .04) !important;
        }

        & .btn-loader {
            border-top: $btn-spin-width solid $btn-color-tertiary;
            border-left: $btn-spin-width solid $btn-color-tertiary;
            border-right: $btn-spin-width solid $btn-color-tertiary;
        }
    }

    &.outline {
        background: transparent;
        box-shadow: inset 0 0 0 1px $btn-bordercolor-outline;
        color: $btn-color-outline;

        &:hover:not([disabled]) {
            background: rgba($btn-bg-primary, .04) !important;
        }

        & .btn-loader {
            border-top: $btn-spin-width solid $btn-color-outline;
            border-left: $btn-spin-width solid $btn-color-outline;
            border-right: $btn-spin-width solid $btn-color-outline;
        }
    }

    &.destruct-outline {
        background: transparent;
        box-shadow: inset 0 0 0 1px $btn-bordercolor-outline-destruct;
        color: $btn-color-outline-destruct;

        &:hover:not([disabled]) {
            background: rgba($btn-bg-primary, .04) !important;
        }

        & .btn-loader {
            border-top: $btn-spin-width solid $btn-color-outline-destruct;
            border-left: $btn-spin-width solid $btn-color-outline-destruct;
            border-right: $btn-spin-width solid $btn-color-outline-destruct;
        }
    }

    &.commerce {
        background: $btn-bg-commerce;
        color: $btn-color-commerce;

        &:hover:not([disabled]) {
            background: darken($btn-bg-commerce, $btn-hover-bg-opacity) !important;
        }

        & .btn-loader {
            border-top: $btn-spin-width solid $btn-color-commerce;
            border-left: $btn-spin-width solid $btn-color-commerce;
            border-right: $btn-spin-width solid $btn-color-commerce;
        }
    }

    &.destruct {
        background: $btn-bg-destruct;
        color: $btn-color-destruct;

        &:hover:not([disabled]) {
            background: darken($btn-bg-destruct, $btn-hover-bg-opacity) !important;
        }

        & .btn-loader {
            border-top: $btn-spin-width solid $btn-color-destruct;
            border-left: $btn-spin-width solid $btn-color-destruct;
            border-right: $btn-spin-width solid $btn-color-destruct;
        }
    }

    &.overlay-primary {
        background: $btn-bg-overlay-primary;
        color: $btn-color-overlay-primary;

        &:hover:not([disabled]) {
            background: darken($btn-bg-overlay-primary, $btn-hover-bg-opacity) !important;
        }

        & .btn-loader {
            border-top: $btn-spin-width solid $btn-color-overlay-primary;
            border-left: $btn-spin-width solid $btn-color-overlay-primary;
            border-right: $btn-spin-width solid $btn-color-overlay-primary;
        }
    }

    &.overlay-secondary {
        background: $btn-bg-overlay-secondary;
        color: $btn-color-overlay-secondary;

        &:hover:not([disabled]) {
            background: darken($btn-bg-overlay-secondary, $btn-hover-bg-opacity) !important;
        }

        & .btn-loader {
            border-top: $btn-spin-width solid $btn-color-overlay-secondary;
            border-left: $btn-spin-width solid $btn-color-overlay-secondary;
            border-right: $btn-spin-width solid $btn-color-overlay-secondary;
        }
    }

    &.overlay-outline {
        background: transparent;
        box-shadow: inset 0 0 0 1px $btn-bordercolor-overlay-outline;
        color: $btn-color-overlay-outline;

        & .btn-loader {
            border-top: $btn-spin-width solid $btn-color-overlay-outline;
            border-left: $btn-spin-width solid $btn-color-overlay-outline;
            border-right: $btn-spin-width solid $btn-color-overlay-outline;
        }
    }
    /* sizes */

    &.small {
        padding-top: 4px;
        padding-bottom: 5px;
        font-size: 12.5px;
        line-height: 16px;
        font-weight: 400;

        &.icon i {
            margin-left: 5px;
            font-size: 10.5px;
        }

        & .btn-loader {
            width: 12.5px;
            height: 12.5px;
        }
    }

    &.normal {
        padding-top: 5px;
        padding-bottom: 6px;
        font-size: 13px;
        line-height: 17px;
        font-weight: 400;

        &.icon i {
            margin-left: 5px;
            font-size: 12px;
        }

        & .btn-loader {
            width: 13px;
            height: 13px;
        }
    }

    &.medium {
        min-height: 32px;
        padding-top: 5px;
        padding-bottom: 6px;
        font-size: 14px;
        line-height: 18px;

        &.icon i {
            margin-left: 5px;
            font-size: 12.5px;
        }

        & .btn-loader {
            width: 14px;
            height: 14px;
        }
    }

    &.large {
        min-height: 36px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 7px;
        padding-bottom: 8px;
        font-size: 15px;
        line-height: 20px;

        &.icon i {
            margin-left: 5px;
            font-size: 13.5px;
        }

        & .btn-loader {
            width: 15px;
            height: 15px;
        }
    }
    /* OTHER */

    &.stretch {
        display: block;
        width: 100%;
        flex-grow: 1;
        flex-basis: 0;
    }
}

.btn-loader {
    border-radius: 50%;
    -webkit-animation: spin .65s linear infinite; /* Safari */
    animation: spin .65s linear infinite;
}

.button-checkbox-panel {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: 0 auto;
}

/* CHECKBOX */

.disabled-cb {
    opacity: .65!important;
}

.centred-table {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-control {
    position: relative;
    z-index: 1;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    font-size: 13px;
    text-align: left;
}

.custom-control-input {
    position: absolute;
    left: -50000px;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;

    &:checked {
        ~ {
            .custom-control-label {
                &::before {
                    border-color: $checkbox-bg-maincolor;
                    background-color: $checkbox-bg-maincolor;
                    color: #fff;
                }
            }
        }
    }

    &:not(:disabled) {
        &:active {
            ~ {
                .custom-control-label {
                    &::before {
                        color: #fff;
                        background-color: #ffd5b3;
                        border-color: #ffd5b3;
                    }
                }
            }
        }
    }

    &:focus {
        &:not(:checked) {
            ~ {
                .custom-control-label {
                    &::before {
                        border-color: lighten($checkbox-bg-maincolor, 25%);
                    }
                }
            }
        }

        ~ {
            .custom-control-label {
                &::before {
                    box-shadow: 0 0 0 0.2rem rgba($checkbox-bg-maincolor, .25);
                }
            }
        }
    }
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;

    &::after {
        position: absolute;
        top: 0.1rem;
        left: -1.5rem;
        display: block;
        width: 1rem;
        height: 1rem;
        content: "";
        background: 50%/50% 50% no-repeat;
    }

    &::before {
        position: absolute;
        top: 0.1rem;
        left: -1.5rem;
        display: block;
        width: 1rem;
        height: 1rem;
        pointer-events: none;
        content: "";
        background-color: #fff;
        border: #adb5bd solid 1px;
    }
}

.custom-checkbox {
    .custom-control-input {
        &:checked {
            ~ {
                .custom-control-label {
                    &::before {
                        background-color: $checkbox-bg-maincolor;
                    }

                    &::after {
                        background-image: $main-checkbox-bg;
                    }
                }
            }
        }
    }

    .custom-control-label {
        &::before {
            border-radius: .25rem;
        }
    }
}

.custom-control-label::before, .custom-file-label, .custom-select {
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


/* TIPPY THEMING */

.tippy-box[data-theme~='-tml-tippytheme-main'] {
    color: #26323d;
    box-shadow: 0 4px 14px -2px rgba(0, 8, 16, 0.1);
    background-color: #fff;
    font-size: 12.5px;

    &[data-placement^=top] > .tippy-arrow:before {
        border-top-color: #fff;
    }

    &[data-placement^=bottom] > .tippy-arrow:before {
        border-bottom-color: #fff;
    }

    &[data-placement^=left] > .tippy-arrow:before {
        border-left-color: #fff;
    }

    &[data-placement^=right] > .tippy-arrow:before {
        border-right-color: #fff;
    }

    > {
        .tippy-backdrop {
            background-color: #fff;
        }

        .tippy-svg-arrow {
            fill: #fff;
        }
    }
}

.tippy-box[data-theme~='-tml-tippytheme-secondary'] {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 8, 16, 0.15);
    color: #333;
    box-shadow: 0 4px 14px -2px rgba(0, 8, 16, 0.08);
    font-size: 12.5px;

    > {
        .tippy-backdrop {
            background-color: #fff;
        }

        .tippy-arrow:after, .tippy-svg-arrow:after {
            content: "";
            position: absolute;
            z-index: -1;
        }

        .tippy-arrow:after {
            border-color: transparent;
            border-style: solid;
        }
    }

    &[data-placement^=top] > {
        .tippy-arrow {
            &:before {
                border-top-color: #fff;
            }

            &:after {
                border-top-color: rgba(0, 8, 16, 0.2);
                border-width: 7px 7px 0;
                top: 17px;
                left: 1px;
            }
        }

        .tippy-svg-arrow {
            > svg {
                top: 16px;
            }

            &:after {
                top: 17px;
            }
        }
    }

    &[data-placement^=bottom] > {
        .tippy-arrow {
            &:before {
                border-bottom-color: #fff;
                bottom: 16px;
            }

            &:after {
                border-bottom-color: rgba(0, 8, 16, 0.2);
                border-width: 0 7px 7px;
                bottom: 17px;
                left: 1px;
            }
        }

        .tippy-svg-arrow {
            > svg {
                bottom: 16px;
            }

            &:after {
                bottom: 17px;
            }
        }
    }

    &[data-placement^=left] > {
        .tippy-arrow {
            &:before {
                border-left-color: #fff;
            }

            &:after {
                border-left-color: rgba(0, 8, 16, 0.2);
                border-width: 7px 0 7px 7px;
                left: 17px;
                top: 1px;
            }
        }

        .tippy-svg-arrow {
            > svg {
                left: 11px;
            }

            &:after {
                left: 12px;
            }
        }
    }

    &[data-placement^=right] > {
        .tippy-arrow {
            &:before {
                border-right-color: #fff;
                right: 16px;
            }

            &:after {
                border-width: 7px 7px 7px 0;
                right: 17px;
                top: 1px;
                border-right-color: rgba(0, 8, 16, 0.2);
            }
        }

        .tippy-svg-arrow {
            > svg {
                right: 11px;
            }

            &:after {
                right: 12px;
            }
        }
    }

    > .tippy-svg-arrow {
        fill: #fff;

        &:after {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCA2czEuNzk2LS4wMTMgNC42Ny0zLjYxNUM1Ljg1MS45IDYuOTMuMDA2IDggMGMxLjA3LS4wMDYgMi4xNDguODg3IDMuMzQzIDIuMzg1QzE0LjIzMyA2LjAwNSAxNiA2IDE2IDZIMHoiIGZpbGw9InJnYmEoMCwgOCwgMTYsIDAuMikiLz48L3N2Zz4=);
            background-size: 16px 6px;
            width: 16px;
            height: 6px;
        }
    }
}

/* SEPARATOR */

.separator-wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;

    .separator {
        width: 100%;
        height: 2px;
        flex: 1;

        &.primary {
            background-color: #de8651;
        }
    }

    .separator-text {
        padding: 0 15px 0 15px;
        font-size: 12px;
        flex: 2;
        text-align: center;
    }
}

.vk-icon-block {
    width: 200px;
    height: 40px;
    margin: 0 auto;
    background: #4288ee;
    border-radius: 0.35rem;
    cursor: pointer;
    transition: .2s;
    text-align: center;

    &:hover {
        background: #3577d6;
    }

    svg {
        width: 40px;
        height: 40px;
        fill: white;
    }
}

.loading-template-auth {
    z-index: 10;
    background: white;
    width: 75%;
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    transition: 1s;

    i {
        font-size: 89px;
        color: #4a4a4a;
    }

    .main-text {
        font-size: 20px;
        margin-top: 20px;
        color: #333;
        margin-bottom: 20px;
    }

    .mini-text {
        font-size: 14px;
    }
}

/* VALIDATION BLOCK */

.block-validation-msg {
    display: flex;
    border-radius: .25rem;
    padding: 10px 20px 10px 20px;
    align-items: center;

    &.error {
        background: #ffd6cc;

        i {
            color: #ef7c7c;
        }
    }

    &.info {
        background: #dde3f9;

        i {
            color: #7f97e0;
        }
    }

    &.ok {
        background: #def0d3;

        i {
            color: #8dc07a;
        }
    }

    i {
        margin-right: 10px;
        font-size: 26px;
    }

    p, ul {
        color: #333;
        font-size: 13px;
    }

    ul {
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* SCROLLBAR */

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: white grey;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #e9ecef;
    border-radius: .25rem;
}


*::-webkit-scrollbar-thumb:hover {
    background-color: #ccd0d4;
}

/* MAIN.MENU */



.main-menu {
    @include tablets {
        width: 150px !important;
    }

    padding-top: 25px;
    padding-bottom: 25px;
    color: #333;
    transition: .3s;

    &.hidden {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .group-hidden {
        max-height: 0px;
        overflow: hidden;
    }

    .disable {
        color: #d2d2d2 !important;
        cursor: auto !important;
    }


    .drop-i {
        transition: .3s cubic-bezier(.25,.8,.5,1),visibility 0s;
        display: inline-block;
        flex-shrink: 0;
        user-select: none;
        width: 1rem;
        height: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #a4acb6;

        &.menu-on {
            transform: rotate(-180deg);
            color: #e3a27d;
        }

        &.mega {
            width: 1.2rem;
            height: 1.2rem;
            cursor: pointer;
        }
    }


    .menu-item {
        padding: 8px 16px 8px 16px;
        line-height: 1.75;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        transition: .2s;
        cursor: pointer;
        font-size: 14px;

        &:not(.disable):active {
            background: #e2e2e2 !important;
        }

        .focus {
            color: $-text-focus-color !important;
        }

        a {
            width: 100%;
            text-align: start;
            padding-left: 12px;
            letter-spacing: 0;
            display: flex;
            align-items: center;
            transition: .2s;
            color: $-text-demifocus-color;
            font-weight: 400;

            i {
                margin-right: 8.5px;
            }
        }
    }

    .menu-item:not(.disable):hover {
        background: #f0f0f0;
    }

    .menu-group {
        display: block;
        transition: max-height 250ms cubic-bezier(.4,0,.2,1) 0ms;
        max-height: 0;
        overflow: hidden;

        .menu-item {
            padding-left: 32px;
        }
    }
}

.side-block-primary {
    font-size: 14.8px;
    font-weight: 600;
}

.navmenu-outer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    padding: 8px 18px 16px 28px;

    &.hidden {
        padding-bottom: 8px;
    }
}

.navmenu-added-text-dynamic {
    color: #a4acb6;
    margin-left: 5px;
    font-size: 11px;
    max-width: 114px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* MODAL */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-info {
    font-size: 14px;
    color: #333;
}

.modal-info.mini {
    font-size: 11.5px;
    color: #7e7e7e;
    margin-top: 5px;
}

.modal {
    width: 100vw;
    height: 100vh;
    display: block;
    overflow-y: auto;
    z-index: 99;
    top: 0;
    left: 0;
    position: fixed;

    &.fade {
        display: none;
    }

    &.show {
        animation-duration: 0.4s;
        animation-fill-mode: both;
        animation-name: fadeIn;
        display: block;
    }

    .modal-dialog {
        max-width: 550px;
        margin: 3.75rem auto;

        &.modal-sm {
            max-width: 350px;

            .modal-content {
                padding: 25px 10px !important;
            }

            .modal-header, .modal-body, .modal-footer {
                width: 80% !important;
                margin: 0 auto !important;
            }

            .modal-footer {
                margin-top: 10px!important;
            }
        }

        &.modal-lg {
            max-width: 850px;
        }

        .modal-content {
            background: white;
            box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
            border-radius: 4px;
            padding: 44px 25px;
            position: relative;
        }

        .modal-title {
            font-size: 21px;
            font-weight: 600;
            color: #333;
            text-align: center;
            padding-bottom: 20px;
        }

        .modal_x {
            position: absolute;
            top: 0;
            right: 0;
            padding: 21px 25px 21px 12px;
            cursor: pointer;
            color: #b3bfcd;
            transition: .2s;

            &:hover {
                color: #8d98a5;
            }
        }

        .modal-header, .modal-body, .modal-footer {
            width: 70%;
            margin: 0 auto;
        }

        .modal-footer {
            margin-top: 20px;
        }

        .footer-buttons {
            display: flex;
            gap: 5px;
        }
    }
}

.modal-backdrop {
    &.fade {
        opacity: 0;
    }

    &.show {
        opacity: .7;
    }

    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #000;

    transition: opacity .15s linear;
}

/* TABLE */

.outoftable {
    width: 100%;
    overflow: auto;
    border: 1px solid #e7e8ec;
    border-radius: .25rem;
}


.table {
    width: 100%;
    border-spacing: unset;

    .top-table {
        th {
            border: 0;
            padding: 0;
            border-bottom: 1px solid #e7e8ec;

            .th-item {
                padding: 10px 15px 10px 15px;
                color: #333;
                font-size: 12.5px;
                border-right: 1px solid #e7e8ec;
                display: inline-block;
            }
        }
    }

    thead tr th {
        padding: 10px 15px 10px 15px;
        color: #333;
        font-size: 12.5px;

        &:not(:last-child) {
            border-right: 1px solid #e7e8ec;
        }
    }

    tbody tr td {
        padding: 10px 15px 10px 15px;
        color: #868686;
        border-top: 1px solid #e7e8ec;
        font-size: 12.5px;

        &:not(:last-child) {
            border-right: 1px solid #e7e8ec;
        }
    }
}

/* badge role */

.admin-badge {
    border-radius: .25rem;
    background: #ec4e4e;
    font-size: 10px;
    color: #fff;
    min-width: 15px;
    width: 15px;
    min-height: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 5px;
    user-select: none;
}

.note-form {
    font-size: 12px;
    margin: 4px 0 2px;
    min-height: 17px;

    &.form-row {
        margin-top: 20px!important;
    }
}

/* INPUT LOADER*/

.input-loader {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;

    &.sm {
        height: 33.19px;
    }

    .success {
        background-clip: padding-box;
        width: 14px;
        height: 14px;
        display: block;
        background-repeat: no-repeat;
        background-size: 14px 14px;
        background-image: $main-accept-form-bg;
    }

    .error {
        background-clip: padding-box;
        width: 18px;
        height: 18px;
        display: block;
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-image: $main-invalid-form-bg;
    }
}

.autosave-input-info {
    width: 16px;
    height: 16px;
    color: #bfbfbf;
}

/* TEXTING */

h3 {
    color: #333;
    font-weight: 600;
}

// file uplaoder

.custom-file-input:not(.offdesign) ~ label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: calc(1em + .75rem + 2px);
    overflow: hidden;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    display: flex;
    align-items: center;

    .text-muted {
        font-size: 13px;
        cursor: pointer;
    }

    &:before {
        font-family: "Font Awesome 5 Pro";
        font-weight: 300;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        content: "\f0ee";
        margin-right: 15px;
        margin-left: 15px;
        font-size: 15px !important;
        cursor: pointer;
    }

    &:after {
        width: 10px;
        height: 100%;
        display: block;
        right: 0;
        content: '';
        position: absolute;
        background: white;
    }

    font-size: 13px;
    cursor: pointer;
}

.custom-file-input:not(.offdesign) {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(1em + .75rem + 2px);
    margin: 0;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;

    &:focus ~ .custom-file-label {
        border-color: #f4d095a6;
        box-shadow: 0 0 0 0.2rem #f4d095a6;
    }
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(1em + .75rem + 2px);
    margin-bottom: 0;
    cursor: pointer;
}

.input-upper-label {
    color: #000;
    font-size: 13.5px;
    margin-bottom: 4px;
}

/* PROGRESS BAR */

.progress {
    border-radius: .25rem;
    display: flex;
    height: .3rem;
    overflow: hidden;
    line-height: 0;
    font-size: .75rem;
    background-color: #e9ecef;

    &.progress-md {
        height: .75rem;
    }

    .bg-success {
        background-color: #4CAF50 !important;
    }

    .progress-bar {
        background-color: #de8651;
        transition: .2s;

        &.texted {
            display: flex;
            align-items: center;
            color: white;
            flex-direction: column;
            justify-content: center;
        }
    }
}

/* bar images and etc... */

.bar-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    user-select: none;


    img {
        width: 100%;
        height: 100%;
    }
}

/* DROPDOWN */

.clear-btn {
    border: 0;
    background: transparent;
    padding: 0;
    margin: 0;
}

.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}

.dropdown-menu.show {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

.dropdown-menu.mini {
    padding: 5px 0!important;
}

.dropdown-header {
    display: block;
    padding: .5rem 1.5rem;
    margin-bottom: 0;
    font-size: .875rem;
    color: #6c757d;
    white-space: nowrap;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 20px;
    clear: both;
    font-weight: 500;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    color: #333;
    font-size: 14.5px;
    transition: .2s;

    & i {
        margin-right: 8px;
        font-size: 13.5px;
    }

    &:hover {
        background: #f0f0f0 !important;
    }

    &.active, &:active {
        background: #e2e2e2 !important;
    }
}

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
    margin-left: 20px;
    margin-right: 20px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 20px 0px;
    margin: 16px 0 0;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid $main-border-color;
    border-radius: 7px;

    &.show {
        display: block;
    }
}


.dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=top] {
    right: auto;
    bottom: auto;
}

.mainmenu-bottom-outer {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 150px;
    justify-content: space-around;

    .bottom-item {
        padding: 5px 9px;
        background: #fbfbfb;
        border-radius: 4px;
        font-size: 14.5px;
        color: black;
        transition: .2s;

        &:hover {
            background: #f3f3f3 !important;
        }

        &.icon i {
            margin-right: 8px;
        }
    }
}

.user-nav-url {
    color: #7171a5!important;
}


.block-page-information {
    margin-bottom: 15px;
    padding: 30px;
    display: flex;
    gap: 20px;
    color: white;
    align-items: center;
    max-height: 147px;
    background-position: 32% 71%!important;

    .title {
        color: white;
        font-size: 17px;
        font-weight: 700;
    }

    .info {
        font-size: 14px;
        margin-top: 5px;
        color: #f1f1f1;
    }
}

.award_styletext {
    color: #7171a5 !important;
}

.transaction-module-info {
    display: flex;
    align-items: center;
    gap: 5px;

    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
    }
}

.transaction-info-cell {
    display: flex;
    align-items: center;
    gap: 2px;
}

.economy {
    color: #4bb34b;
}

.declaim {
    color: #e64646;
}

/* DOWORK BLOCK*/

.dowork-block {
    background: white;
    border-radius: 8px;
    border: 1px solid #e7e8ec;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 30px;

    .header-dowork-text {
        color: #333;
        font-weight: 600;
    }

    .info-dowork-text {
        font-size: 11px;
        color: #e2e2e2;
    }
}


.memlar-icon-style {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &.black-grey svg {
        fill: #333!important;
    }

    &.grey svg {
        fill: grey;
    }

    &.medium {
        height: 21px!important;
    }

    &.mini {
        height: 13px!important;
    }

    svg {
        width: 100%;
        height: 100%;
    }
}

.b-numeric {
    position: relative;
    width: 100%;

    .b-numeric-handler-wrap {
        position: absolute;
        top: 0;
        right: 0;
        width: 22px;
        height: 100%;
        background: #fff;
    }

    .form-control + .b-numeric-handler-wrap {
        height: calc(100% - 4px);
        margin-right: 2px;
        margin-top: 2px;
        font-size: 1rem;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        overflow: hidden;
    }

    .b-numeric-handler {
        position: relative;
        display: flex;
        width: 100%;
        height: 50%;
        overflow: hidden;
        color: rgba(0, 0, 0, 0.45);
        font-weight: 700;
        line-height: 0;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        padding: 0;
        border-radius: 0;
        background: #f1f1f1;
        border: none;
    }

    .b-numeric-handler-up i {
        margin-top: 5px;
    }

    .b-numeric-handler-down i {
        margin-bottom: 5px;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 3px;

    &.disable {
        opacity: .6;

        .page-item {
            cursor: default !important;
        }

        .page-item:hover {
            background: #f7f5f5!important;
        }
    }

    .page-item {
        cursor: pointer;
        padding: 2px 6px;
        background: #f7f5f5;
        border-radius: 0.25rem;
        font-size: 12.5px;
        color: #9b9b9b;
        user-select: none;
        transition: .2s;

        &.active {
            color: #333;
        }

        &:hover {
            background: #ebe8e8;
        }
    }
}

.search-input {
    padding-top: 5px;
    padding-bottom: 6px;
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    border-radius: 0.25rem;
    border: 1px solid #b7b7b7;
    padding-left: 24px;
    padding-right: 3px;
    color: #333;
    transition: .2s;
    height: 100%!important;

    &:hover {
        border: 1px solid #de8651;
    }

    &:focus {
        border: 1px solid #de8651;
    }
}

.search-icon {
    position: absolute;
    display: flex;
    height: 100%;
    margin-left: 7px;
    font-size: 13px;
    align-items: center;
    color: #b7b7b7;
    transition: .2s;
    top: 0;
}

.role-style-banned {
    color: #a39797;
    font-size: 13px;
    text-decoration: line-through;
}

.role-style-admin {
    border-radius: 0.25rem;
    background: #ec4e4e;
    line-height: 1;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    vertical-align: baseline;
    color: white;
    font-size: 10px;
    padding: 0.25em 0.4em;
    font-weight: 700;
}

.role-style-user {
    color: #333;
    font-size: 13px;
}

.admin-badge-text {
    font-family: 'SF UI Display';
    margin-left: 5px;
    font-size: 11px;
}

textarea {
    resize: none;
    padding: 0.375rem 0.75rem;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e7e8ec;
    border-radius: 0.25rem;
    transition: border-color .2s,box-shadow .2s;
    outline: none!important;
}

textarea:focus {
    border-color: #f4d095a6;
    box-shadow: 0 0 0 0.2rem #f4d095a6;
}

.page-title-postfix {
    color: grey;
    font-size: 11px;
}

.info-debug-text {
    font-size: 13px;
    border-left: 3px solid rgba(94, 155, 165, 0.68);
    padding-left: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

btn.only-animated {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-fillbalance-image-outer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.action-fillbalance-image-block {
    height: 100px;
    background: #f1f1f1;
    border-radius: 0.25rem;
    transition: .2s;
    overflow: hidden;

    & img {
        width: 100%;

        &:hover {
            cursor: pointer;
        }
    }
}

@keyframes visible {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.action-fillbalance-image-block.active_upload > .custom-file {
    border: 1px solid #e7e8ec;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    height: 100%;
    cursor: pointer;

    label {
        color: #ebcbab;
        transition: opacity .2s;
        visibility: hidden;
        opacity: 0;
    }

    input {
        display: none !important;
    }

    i {
        cursor: pointer;
    } 
}

.action-fillbalance-image-block.active_upload:not(.sloader):hover {
    border: 1px solid #ebcbab;
    background: white;

    label {
        color: #f5c08b;
        visibility: visible;
        opacity: 1;
    }
} 

.action-fillbalance-image-block.filled_image {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    color: #e76a6a;
    opacity: .85;

    i {
        z-index: 999;
        background: rgba(0, 0, 0, .45);
        border-radius: 0.25rem;
        padding: 5px;
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
        transition: opacity .2s;
    }

    img {
        position: absolute;
        width: 100%;
    }
} 

.action-fillbalance-image-block.filled_image:hover {
    i {
        opacity: 1;
        visibility: visible;
    }
} 

.action-fillbalance-image-block.active_loading {

}

/* btn group */

.btn-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;

    &.btn-group-toggle input {
        position: absolute;
        clip: rect(0,0,0,0);
        pointer-events: none;
    }

    & .btn {
        background: #f1f1f1;
        padding-top: 5px;
        padding-bottom: 6px;
        font-size: 14px;

        &:first-child {
            border-radius: 0.35rem 0 0 0.35rem;
        }

        &:last-child {
            border-radius: 0 0.35rem 0.35rem 0;
        }

        &.active {
            background: #e1e1e1;
        }
    }
}

.textarea-medium .form-control {
    height: 150px;
}

.form-note {
    color: #333;
    font-size: 13px;
    margin-bottom: -9px;
}

.hr-line {
    height: 2px;
    background: #f1f1f1;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.action-fillbalance-image-outer {
    padding: 10px!important;
}

.action-fillbalance-image-outer.focused.multiimagestatus-valid {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, .25)!important;
}

.action-fillbalance-image-outer {
    transition: .2s;
    border-radius: 0.25rem;
    border: 1px solid white;
}

.action-fillbalance-image-outer.multiimagestatus-none {
    border-color: #f4d095a6 !important;
}

.action-fillbalance-image-outer.focused {
    box-shadow: 0 0 0 0.2rem #f4d095a6!important;
}

.action-fillbalance-image-outer.focused.multiimagestatus-invalid {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25)!important;
}

.action-fillbalance-image-outer.multiimagestatus-valid {
    border: 1px solid #28a745 !important;
}

.action-fillbalance-image-outer.multiimagestatus-invalid {
    border: 1px solid #dc3545 !important;
}

.is-invalid .CodeMirror {
    border-color: #dc3545 !important;
}

.is-invalid .CodeMirror-focused {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25);
}

.is-valid .CodeMirror {
    border-color: #28a745;
}

.is-valid .CodeMirror-focused {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, .25);
}

.status {
    padding: 3px 4px;
    border-radius: 0.5rem;
    color: white;

    &.status_accepted {
        background: #abd59d;
    }

    &.status_waiting {
        background: #dfd485;
    }

    &.status_declaim {
        background: #df8d85;
    }
}

.block-page-information {
    background-size: cover!important;
}

p.form-note.req:after {
    content: '*';
    color: #d34646;
    margin-left: 3px;
}

._cl_footer {
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #d1d3d9;
}

.form-note.mdl {
    margin-bottom: 2px!important;
}

.secondary-text-modal {
    font-size: 12px;
    opacity: .8;
}

.active-table-row {
    background-color: #fff9f1!important;
}