/* MAIN.COLOR.CONSTS */
/* MAIN.COLORS.BUTTONS */
/* MAIN.COLOR.CHECKBOX */
/* CONST's */
/* SETTINGS */
.settings-header-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 250px;
}
.settings-header-image .image-outer {
  width: 200px;
  cursor: pointer;
  height: 200px;
  user-select: none;
  position: relative;
  overflow: hidden;
}
.settings-header-image .image-outer img {
  width: 100%;
  height: 100%;
}
.settings-header-image .image-changer {
  background: rgba(0, 0, 0, 0.25);
  padding: 5px;
  text-align: center;
  height: 50%;
  top: 50px;
  transition: 0.3s;
  right: 10px;
  color: #fff;
  position: absolute;
  border-radius: 0 1px 1px 0;
  opacity: 0.1;
  display: flex;
  align-items: center;
  z-index: 2;
}
.settings-header-image .image-changer:before {
  content: "";
  position: absolute;
  left: -1px;
  top: -23px;
  border: 13px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.25);
  border-radius: 2.5px;
}
.settings-header-image .image-changer:after {
  content: "";
  position: absolute;
  left: -1px;
  bottom: -23px;
  border: 13px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.25);
  border-radius: 2.5px;
}
.settings-header-image .image-outer:hover .image-changer {
  opacity: 1;
}

.circle-avatar-outer {
  width: 250px !important;
  height: 250px !important;
}
.circle-avatar-outer .-js-get-cropped {
  width: 100%;
  height: 100%;
}
.circle-avatar-outer .cropper-view-box {
  box-shadow: 0 0 0 1px #39f;
  outline: 0;
}

.cropper-container {
  border-radius: 0.25rem !important;
  overflow: hidden;
}

.input-uili-info {
  color: #333;
  font-size: 13.5px;
  margin-top: 10px;
}
.input-uili-info p {
  margin-bottom: 10px;
}
.input-uili-info ul li:not(:last-child) {
  margin-bottom: 10px;
}
.input-uili-info ul {
  margin-left: 15px;
}

.notification-menu {
  width: 450px;
  max-height: 270px;
  overflow-y: auto;
  margin-top: 22px;
}
.notification-menu .notification-outer {
  display: flex;
  gap: 10px;
  padding: 10px 14px;
}
.notification-menu .notification-header {
  color: #333;
  padding: 2px 0 0 0;
  line-height: 17px;
  font-size: 13.5px;
}
.notification-menu .notification-text {
  color: #6f6f6f;
  padding: 2px 0 0 0;
  line-height: 17px;
  font-size: 13.5px;
}
.notification-menu .notification-date {
  color: #939393;
  line-height: 1.417;
  font-size: 12.5px;
}
.notification-menu .notification-text-separator {
  font-size: 12px;
  margin-left: 14px;
  margin-bottom: 5px;
  color: #333;
}
.notification-menu .notification-logo .ntf-lg {
  min-width: 45px;
  min-height: 45px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.notification-menu .notification-logo .ntf-lg.ok {
  background: #4bb34b;
  color: white;
}
.notification-menu .notification-logo .ntf-lg.error {
  background: #e64646;
  color: white;
}
.notification-menu .notification-logo .ntf-lg.info {
  background: #aebae6;
  color: white;
}

.notification-badge {
  position: absolute;
  width: 8px;
  top: -2px;
  right: -2.4px;
  height: 8px;
  background: #de6451;
  border-radius: 50%;
}

.user-awards-panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 35px;
}
.user-awards-panel .award-item.complete {
  opacity: 0.8;
}
.user-awards-panel .award-item.complete .award-logo {
  opacity: 0.4;
}
.user-awards-panel .award-item .award-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  font-size: 70px;
}
.user-awards-panel .award-item .award-name {
  text-align: center;
  color: #333;
}
.user-awards-panel .award-item .award-info {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.user-awards-panel .award-item .award-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.user-awards-panel .award-item .award-progress .award-progress-info {
  flex: 1;
  text-align: center;
  font-size: 13px;
}

.summ_transaction {
  font-weight: 400 !important;
}

.transaction-menu {
  float: right;
  border-right: none !important;
  border-left: 1px solid #e7e8ec;
  cursor: pointer;
}

.user-level-badge {
  position: absolute;
  z-index: 3;
}
.user-level-badge.mini {
  bottom: -2px;
  right: -6px;
  width: 20px !important;
  height: 19px !important;
}
.user-level-badge.mini.raw {
  left: 17px !important;
  right: 0 !important;
}
.user-level-badge.dxd {
  bottom: -8px;
  right: -11px;
  width: 80px !important;
  height: 76px !important;
}
.user-level-badge.normal {
  bottom: -5px;
  right: -17px;
  width: 64px !important;
  height: 56px !important;
}

.level-outer {
  display: flex;
  gap: 15px;
}
.level-outer .level-system-block {
  display: flex;
  flex-direction: column;
  border: 1px solid #e7e8ec;
  border-radius: 0.25rem;
  width: 100%;
  padding: 25px;
  gap: 25px;
}
.level-outer .level-system-block .level-block {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.level-outer .level-system-block .level-block .level-outer-image {
  width: 67.5px;
  height: 75px;
}
.level-outer .level-system-block .level-block .level-naming {
  color: #333;
  font-size: 14px;
  margin-bottom: 5px;
}

.progress-bar-level {
  width: 45px;
  height: 50px;
}
.progress-bar-level img {
  width: 100%;
  height: 100%;
}
.progress-bar-level.next {
  opacity: 0.5;
}

.level-bar-info-text {
  text-align: center;
  margin-bottom: 3px;
  margin-top: 10px;
  color: #333;
  font-size: 14px;
}

.page-title-user {
  font-size: 14.8px;
  font-weight: 600;
  color: #333;
}

.user-header-block {
  margin-bottom: 15px;
  background: url(https://img5.goodfon.ru/wallpaper/nbig/e/23/icon-minimalism-black-white-minimal-smartphone-monitor-world.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.user-header-text-wrapper {
  width: 77%;
  background: white;
  padding: 25px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 15px;
}

.userbar-navigation {
  gap: 15px;
  margin-top: 20px;
}
.userbar-navigation .user-navigation-information-block {
  border: 1px solid #e7e8ec;
  border-radius: 8px;
  cursor: pointer;
  padding: 14px 20px 14px 20px;
  transition: 0.2s;
  user-select: none;
}
.userbar-navigation .user-navigation-information-block.active {
  border: 1px solid #f05a28;
  background: #fef9f7;
}
.userbar-navigation .user-navigation-information-block:hover:not(.active) {
  border: 1px solid #f7a387;
  background: white;
}
.userbar-navigation .user-navigation-information-block .top-info-nav {
  font-size: 12px;
  margin-bottom: 10px;
}
.userbar-navigation .user-navigation-information-block .main-text-nav {
  color: #333;
  font-weight: 600;
  font-size: 27px;
}

.action-left-menu {
  border: 1px solid #e7e8ec;
  border-radius: 0.25rem;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: start;
}
.action-left-menu a {
  border-radius: 0.25rem;
  color: #a3a3a3;
  transition: 0.2s;
  border: 1px solid transparent;
}
.action-left-menu a:hover {
  background: #efeeee;
}
.action-left-menu a.active {
  background: #c558241f;
  color: #333;
  border: 1px solid #fb8a58;
}
.action-left-menu a i {
  margin: 6px;
}

.user-form-factor-action-panel {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .user-form-factor-action-panel {
    width: 90% !important;
  }
}

.disablde-bar-icon {
  opacity: 0.6 !important;
  cursor: default !important;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22file:///C:/Users/Fearp/source/repos/RenewalTML/RenewalTML/wwwroot/css/mixins/_colors.scss%22,%22file:///C:/Users/Fearp/source/repos/RenewalTML/RenewalTML/wwwroot/css/user.scss%22,%22file:///C:/Users/Fearp/source/repos/RenewalTML/RenewalTML/wwwroot/css/mixins/_adaptive_bp.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAC;AAYD;AAmCA;AC5CA;AAGA;AAEA;EACI;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;;AAGA;EACI;EACA;;AAIR;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;AAIR;EACI;;;AAIR;EACI;EACA;;AAEA;EACI;EACA;;AAOJ;EACI;EACA;;;AAIR;EACI;EACA;;;AAGJ;EACI;EACA;EACA;;AAEA;EACI;;AAGJ;EACI;;AAGJ;EACI;;;AAIR;EACI;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;;AAIA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;;AAGJ;EACI;EACA;;AAGJ;EACI;EACA;;;AAMhB;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;;AAII;EACI;;AAEA;EACI;;AAIR;EACI;EACA;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;;AAGJ;EACI;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;;;AAMhB;EACI;;;AAGJ;EACI;EACA;EACA;EACA;;;AAIJ;EACI;EACA;;AAEA;EACI;EACA;EACA;EACA;;AAEA;EACI;EACA;;AAIR;EACI;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;;;AAIR;EACI;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;;AAEA;EACI;EACA;;AAGJ;EACI;EACA;EACA;;;AAMhB;EACI;EACA;;AAEA;EACI;EACA;;AAGJ;EACI;;;AAIR;EACI;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;;AAGJ;EACI;EACA;;AAGJ;EACI;EACA;;AAGJ;EACI;EACA;EACA;;;AAKZ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;;AAEA;EACI;;AAGJ;EACI;EACA;EACA;;AAGJ;EACI;;;AAMZ;EAKI;EACA;EACA;EACA;EACA;EACA;;ACjbA;EDuaJ;IAEQ;;;;AAWR;EACI;EACA%22%7D */