@import "mixins/_adaptive_bp.scss";
@import "mixins/_colors.scss";

/* CONST's */


/* SETTINGS */

.settings-header-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 250px;

    .image-outer {
        width: 200px;
        cursor: pointer;
        height: 200px;
        user-select: none;
        position: relative;
        overflow: hidden;
        //border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .image-changer {
        background: rgba(0, 0, 0, 0.25);
        padding: 5px;
        text-align: center;
        height: 50%;
        top: 50px;
        transition: .3s;
        right: 10px;
        color: #fff;
        position: absolute;
        border-radius: 0 1px 1px 0;
        opacity: .1;
        display: flex;
        align-items: center;
        z-index: 2;

        &:before {
            content: '';
            position: absolute;
            left: -1px;
            top: -23px;
            border: 13px solid transparent;
            border-bottom: 10px solid rgba(0, 0, 0, 0.25);
            border-radius: 2.5px;
        }

        &:after {
            content: '';
            position: absolute;
            left: -1px;
            bottom: -23px;
            border: 13px solid transparent;
            border-top: 10px solid rgba(0, 0, 0, 0.25);
            border-radius: 2.5px;
        }
    }

    .image-outer:hover .image-changer {
        opacity: 1;
    }
}

.circle-avatar-outer {
    width: 250px !important;
    height: 250px !important;

    .-js-get-cropped {
        width: 100%;
        height: 100%;
    }

    .cropper-crop-box, .cropper-view-box {
        //border-radius: 50%;
    }

    .cropper-view-box {
        box-shadow: 0 0 0 1px #39f;
        outline: 0;
    }
}

.cropper-container {
    border-radius: .25rem!important;
    overflow: hidden;
}

.input-uili-info {
    color: #333;
    font-size: 13.5px;
    margin-top: 10px;

    p {
        margin-bottom: 10px;
    }

    ul li:not(:last-child) {
        margin-bottom: 10px;
    }

    ul {
        margin-left: 15px;
    }
}

.notification-menu {
    width: 450px;
    max-height: 270px;
    overflow-y: auto;
    margin-top: 22px;

    .notification-outer {
        display: flex;
        gap: 10px;
        padding: 10px 14px;
    }

    .notification-header {
        color: #333;
        padding: 2px 0 0 0;
        line-height: 17px;
        font-size: 13.5px;
    }

    .notification-text {
        color: #6f6f6f;
        padding: 2px 0 0 0;
        line-height: 17px;
        font-size: 13.5px;
    }

    .notification-date {
        color: #939393;
        line-height: 1.417;
        font-size: 12.5px;
    }

    .notification-text-separator {
        font-size: 12px;
        margin-left: 14px;
        margin-bottom: 5px;
        color: #333;
    }

    .notification-logo {
        .ntf-lg {
            min-width: 45px;
            min-height: 45px;
            height: 45px;
            width: 45px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;

            &.ok {
                background: #4bb34b;
                color: white;
            }

            &.error {
                background: #e64646;
                color: white;
            }

            &.info {
                background: #aebae6;
                color: white;
            }
        }
    }
}

.notification-badge {
    position: absolute;
    width: 8px;
    top: -2px;
    right: -2.4px;
    height: 8px;
    background: #de6451;
    border-radius: 50%;
}

.user-awards-panel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 35px;

    .award-item {

        &.complete {
            opacity: .8;

            .award-logo {
                opacity: .4;
            }
        }

        .award-logo {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            height: 100px;
            font-size: 70px;
        }

        .award-name {
            text-align: center;
            color: #333;
        }

        .award-info {
            font-size: 13px;
            margin-top: 5px;
            margin-bottom: 10px;
        }

        .award-progress {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

            .award-progress-info {
                flex: 1;
                text-align: center;
                font-size: 13px;
            }
        }
    }
}

.summ_transaction {
    font-weight: 400!important;
}

.transaction-menu {
    float: right;
    border-right: none!important;
    border-left: 1px solid $main-border-color;
    cursor: pointer;
}


.user-level-badge {
    position: absolute;
    z-index: 3;

    &.mini {
        bottom: -2px;
        right: -6px;
        width: 20px !important;
        height: 19px !important;

        &.raw {
            left: 17px !important;
            right: 0 !important;
        }
    }

    &.dxd {
        bottom: -8px;
        right: -11px;
        width: 80px !important;
        height: 76px !important;
    }

    &.normal {
        bottom: -5px;
        right: -17px;
        width: 64px !important;
        height: 56px !important;
    }
}

.level-outer {
    display: flex;
    gap: 15px;

    .level-system-block {
        display: flex;
        flex-direction: column;
        border: 1px solid $main-border-color;
        border-radius: .25rem;
        width: 100%;
        padding: 25px;
        gap: 25px;

        .level-block {
            width: 100%;
            display: flex;
            gap: 10px;
            align-items: center;

            .level-outer-image {
                width: 67.5px;
                height: 75px;
            }

            .level-naming {
                color: #333;
                font-size: 14px;
                margin-bottom: 5px;
            }
        }
    }
}

.progress-bar-level {
    width: 45px;
    height: 50px;

    img {
        width: 100%;
        height: 100%;
    }

    &.next {
        opacity: .5;
    }
}

.level-bar-info-text {
    text-align: center;
    margin-bottom: 3px;
    margin-top: 10px;
    color: #333;
    font-size: 14px;
}

.page-title-user {
    font-size: 14.8px;
    font-weight: 600;
    color: #333;
}

.user-header-block {
    margin-bottom: 15px;
    background: url(https://img5.goodfon.ru/wallpaper/nbig/e/23/icon-minimalism-black-white-minimal-smartphone-monitor-world.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.user-header-text-wrapper {
    width: 77%;
    background: white;
    padding: 25px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 15px;
}

.userbar-navigation {
    gap: 15px;
    margin-top: 20px;

    .user-navigation-information-block {
        border: 1px solid $main-border-color;
        border-radius: 8px;
        cursor: pointer;
        padding: 14px 20px 14px 20px;
        transition: .2s;
        user-select: none;

        &.active {
            border: 1px solid $main-orange-color;
            background: #fef9f7;
        }

        &:hover:not(.active) {
            border: 1px solid lighten($main-orange-color, 20%);
            background: lighten(#fef9f7, 20%);
        }

        .top-info-nav {
            font-size: 12px;
            margin-bottom: 10px;
        }

        .main-text-nav {
            color: #333;
            font-weight: 600;
            font-size: 27px;
        }
    }
}

.action-left-menu {
    border: 1px solid $main-border-color;
    border-radius: 0.25rem;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: start;

    a {
        border-radius: 0.25rem;
        color: #a3a3a3;
        transition: .2s;
        border: 1px solid transparent;

        &:hover {
            background: #efeeee;
        }

        &.active {
            background: #c558241f;
            color: #333;
            border: 1px solid #fb8a58;
        }

        i {
            margin: 6px;
        }
    }
}


.user-form-factor-action-panel {
    @include tablets {
        width: 90% !important;
    }

    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

.disablde-bar-icon {
    opacity: .6!important;
    cursor: default!important;
}