<span class="memlar-icon-style @Class">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 312.2 308.11">
        <g>
            <g>
                <path d="M259.72,28.59,244.63,63,215.9,128.35h0c-.85-1.91-24.67-49.8-26.24-53.36-9.64,21.91-29.14,66.26-38.83,88.28L110.24,75.88,47.86,217.71A125.61,125.61,0,0,1,159.41,34.41h.18L174.5.66Q167.33,0,160,0A160,160,0,0,0,18.74,235.19,51.29,51.29,0,0,1,20.47,280l38.26-4.77c4.09-9.3,7.1-13.68,12.46-25.86l40.12-91.22L150.82,248c9.64-21.91,29.14-66.27,38.83-88.29.44-.31,24.28,51.62,26.62,52.51L266.74,97.35A126.22,126.22,0,0,1,158,273.35l-15.25,34.52c2.88.15,5.79.24,8.72.24A160.79,160.79,0,0,0,295,75a46,46,0,0,1-1.21-38.34l7-16.93Z" />
            </g>
        </g>
    </svg>
</span>


@code {
    [Parameter]
    public string Class { get; set; }
}