@page "/apanel"

@inherits RenewalTMLComponentBase

<div style="width: 100%; display: flex;">
    <div>
        <p class="title-1-semibold">title-1-semibold</p>
        <p class="title-1-bold">title-1-bold</p>
        <p class="title-1-heavy">title-1-heavy</p>
        <p class="title-2-regular">title-2-regular</p>
        <p class="title-2-semibold">title-2-semibold</p>
        <p class="title-2-heavy">title-2-heavy</p>
        <p class="title-3-regular">title-3-regular</p>
        <p class="title-3-medium">title-3-medium</p>
        <p class="title-3-semibold">title-3-semibold</p>
        <p class="headline-regular">headline-regular</p>
        <p class="headline-medium">headline-medium</p>
        <p class="headline-semibold">headline-semibold</p>
        <p class="text-regular">text-regular</p>
        <p class="text-medium">text-medium</p>
        <p class="text-semibold">text-semibold</p>
    </div>
    <div>
       <p class="subhead-regular">subhead-regular</p>
       <p class="subhead-medium">subhead-medium</p>>
       <p class="caption-1-medium">caption-1-medium</p>
       <p class="caption-1-semibold">caption-1-semibold</p>
       <p class="caption-1-caps-semibold">caption-1-caps-semibold</p>
       <p class="caption-2-regular">caption-2-regular</p>
       <p class="caption-2-medium">caption-2-medium</p> 
       <p class="caption-2-semibold">caption-2-semibold</p>
       <p class="caption-2-caps-semibold">caption-2-caps-semibold</p>
       <p class="caption-3-regular">caption-3-regular</p>
       <p class="caption-3-caps-semibold">caption-3-caps-semibold</p>
       <p class="caption-4-regular">caption-4-regular</p>
       <p class="caption-4-caps-bold">caption-4-caps-bold</p>
    </div>
</div>

@code {
    public override async Task OnInitializedComponent()
    {
        await ChangePageLoadStatus(true);
    }
}
