/* fonts */

$font-vkdisplay: 'VK Sans Display';                 // Шрифт VK DISPLAY SANS
$font-sfui: 'SF UI Display';                        // Шрифт VK UI 

/* main */
$main-widthcompress-big: 40px;                      // отступы со сторон, если экран больше мобильного
$main-widthcompress-mini: 20px;                     // отступы при мобильном экране

$bar-height: 56px;                                  // Высота элемента 'bar'

$main-block-border-radius: 8px;                     // Закругленность основных элементов


$main-max-page-application-width: 1600px;           // Максимальная ширина приложения
$main-applciation-box-gap: 15px;                    // Отступы между основными элементами вприложении

$bar-logo-size: 32px;                               // Размер логотипа svg в bar