@page "/user/error/{code:int}"

@inherits RenewalTMLComponentBase

<h1>Error: @Code</h1>

@code {
    [Parameter]
    public int Code { get; set; }

    public override async Task OnInitializedComponent()
    {
        await ChangePageLoadStatus(true);
    }
} 